body{
    margin:0;
}

.list_group{
    border: .5em solid;
    border-radius: .5em;
    float: left;
    width: 23%;
}

.list_group h3{
    text-align: center;
}

#Cat_1{
    background-color: rgb(253, 110, 110);
    border-color: red;
}
#Cat_2{
    background-color: rgb(255, 208, 121);
    border-color: orange;
}
#Cat_3{
    background-color: lightgreen;
    border-color:green;
}
#Cat_4{
    background-color: lightblue;
    border-color:blue;
}